
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;    
    color: #000000;     
}

 .active{
    background-color: #79B331;
    color: #ffffff;  
 }

@keyframes myanim {
    0%{top:0; left:0;}
    25%{top:0; left:388px;}
    50%{top:156px; left:388px;}
    75%{top:156px; left:0;}
    100%{top:0; left:0;}    
}

body{    
    background-image: url(../img/vegan.png);
    background-repeat: no-repeat;
    background-size: cover;  
    font-size: 18px;  
}

/* ---Header--- */

header{
    width: 100%;
    padding: 50px;
}

nav{
    margin-left: 636px;
}

nav ul{  
    width: 594px;
    display: flex;
    justify-content: space-between;     
    align-items: center;  
}

nav a{
    padding: 22px 18px; 
    background-color: #C4C4C4;  
    border-radius: 0 36px 0 36px;    
}


/* ----Main--- */

.anim{
    width: 420px;
    height: 188px;
    margin-top: 60px;
    margin-left: 806px;     
    text-align: center;
    position: relative;
    padding: 52px 0 41px 0;    
}

.ball{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #79B331;
    position: absolute;
    top: 0;
    left: 0;
    animation: myanim 2s infinite;
}

.animdro{
    font-size: 36px;
    margin-top: 20px;   
}

/* Tree */


.container{
    width: 1062px;
    height: 488px; 
    margin-top: 140px;
    margin-left: 440px;    
    position: relative;
    padding: 28px 0;
}

.gero{
    width: 1px;
    height: 430px;    
    background-color: #C4C4C4; 
    position: absolute;
    left: 50%;
    bottom: 0; 
}

.box{
    width: 50%;    
    display: flex;
    justify-content: space-between;  
    margin-bottom: 36px;
}

.text{
    width: 454px;
}

.leaf{
    width: 70px;
    height: 70px;
    background-color: #C4C4C4; 
    border-radius: 0 36px;
}

.box1{
    margin-left: 50%;
}

.leaf1{
    transform: rotate(90deg);
}  


/* Effects */

.box:hover p{
    color: #79B331;   
}
 .box:hover .leaf{
    background-color: #79B331;
}

 nav a:hover{
    color: #ffffff;
    background-color:  #79B331;    
}




